:root {
    --background-color: #fadadd;

    /* --text-color: #000080; F535AA 
        box-shadow: 10px 5px 5px #26eed4f9;
    */
    
    --text-color: #0000809f;

}

* {
    font-size: 36px;
    color: var(--text-color);
}

html {
    background-color: var(--background-color);
}

h1 {
    display: flex;
    font-size: 125%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0;

}

#navHeader, #headerMenu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;

}

li, a {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

.menuItem {
    padding: 10px 20px;
    font-size: 80%;
    flex-flow: row wrap;
    /* justify-content: center; */
}



.container {
    box-sizing: border-box;
    /* width: auto; */
    border: solid 6px #ffffff;
    margin: 10px 5px; 
    display: flex;
    flex-flow: row wrap;
}
#about {
    width: fit-content;
}

#aboutMe {
    padding-left: 11px;                        /* Adds padding to the left of the about me paragrpah so that the content displays more centered on t */
    position: relative;
    bottom: 50px;
}

.subheader {
    display: flex;
}
h2 {
    display: flex;
    /* box-sizing: border-box;
    width:fit-content;
    border: solid 6px #ffffff;
    justify-content: flex-start;
    align-items: flex-start; */
    padding: 7px;
    font-size: 80%;
    margin-top: 2px;
    /* text-align: right; */
    /* position: relative;
    bottom: 25px;
    right: -2px; */
}

p {
    display: flex;
    font-size: 70%;
}

#contact {
   box-sizing: none; 
}

#navFooter, #footerMenu {
    display: flex;
}