:root {
    --background-color: #ffc6cc44;
    --card-background: #ece1f1;
    --text-color: #0000809f;

}

* {
    font-size: 36px;
    color: var(--text-color);
}

html {
    background-color: var(--background-color);
}

h1 {
    display: flex;
    font-size: 250%;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 12px;

}

#navHeader, #headerMenu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;

}

li, a {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

.menuItem {
    padding: 10px 20px;
    font-size: 80%;
    flex-flow: row wrap;
}



.container {
    box-sizing: border-box;
    border: solid 6px #dd6577;
    margin: auto; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#about {
    width: 700px;
    margin-top: 75px;
    background-color: var(--card-background);
}
/* 
#aboutMe {
    padding-left: 11px;                        /* Adds padding to the left of the about me paragrpah so that the content displays more centered on t */
    position: relative;
    bottom: 50px;
} */

.subheader {
    display: flex;
}

h2 {
    display: flex;
    padding: 7px;
    font-size: 80%;
    margin-top: 2px;
}

#profilePic {
    
}

p {
    display: flex;
    font-size: 70%;
}

#contact {
   box-sizing: none; 
}

#navFooter, #footerMenu {
    display: flex;
}